header {
    background-color: #aaa;
    margin-bottom: 10px;
    text-align: left;
  }

p   {
    text-align: center;
}

h3  {
    text-align: center;
}

table   {
    background-color: yellow;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    border-width: 25px;
}


footer  {
    background-color: black;
    color: white;
    height: 30px;
    text-align: center;
    text-align-last: center;
  }

/* footer {
    background-color: #aaa;
    padding: 10px;
  } */