header {
    background-color: gold;
    color:black;
    margin-bottom: 10px;
    text-align: left;
  }
body    {
    background-color: black;
}
p   {
    text-align: center;
    color:white;
}
h2  {
    color: white;
}
h3  {
    text-align: center;
    color:white;
}

table   {
    background-color: gold;
    color: black;
    border-color: black;
    text-align: center;
}
form  {
    background-color: gold;
    color:black;
    padding: 5px;
  }

th  {
    text-align: center;
    color: black;
}
footer  {
    background-color: gold;
    color: black;
    height: 30px;
    text-align: center;
    text-align-last: center;
  }

/* footer {
    background-color: #aaa;
    padding: 10px;
  } */